<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>$TAB_TITLE</title>
</head>

<body>

    <header>
        <nav>
            <a href="/">
                <image src="/assets/images/motivation.jpg" id="logo"></image>
            </a>
            <a href="/quests">Quests</a>
            <a href="/jokes">Jokes</a>
        </nav>
    </header>
    <main>